:root {
  --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --Soft-red: hsl(14, 88%, 65%);

  --Soft-violet: hsl(273, 75%, 66%);
  --Soft-blue: hsl(240, 73%, 65%);

  --Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);

  --Light-grayish-blue: hsl(240, 5%, 91%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(var(--Soft-violet), var(--Soft-blue)) no-repeat;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 80%;
  max-width: 1440px;
  margin: 5rem auto;
  height: 100vh;
}

.row {
  display: flex;
  justify-content: space-between;
}

.main {
  width: 80%;
  background-color: #fff;
  border-radius: 15px;
  margin: 0 auto;
}

.img-container {
  flex: 1;
  background-image: url(./images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding-right: 5em;
}

.content {
  flex: 1;
  padding: 3em;
}
