@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --Soft-red: hsl(14, 88%, 65%);

  --Soft-violet: hsl(273, 75%, 66%);
  --Soft-blue: hsl(240, 73%, 65%);

  --Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);

  --Light-grayish-blue: hsl(240, 5%, 91%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  background: linear-gradient(var(--Soft-violet), var(--Soft-blue)) no-repeat;
  width: 100vw;
  height: 100vh;
  margin: 150px auto;
  font-family: "Kumbh Sans", sans-serif;
}

img {
  max-width: 100%;
}

.wrapper {
  background-color: #fff;
  border-radius: 1.5rem;
  width: 85%;
  margin: auto;
}

.wrapper__img {
  position: relative;
  height: 120px;
  background-image: url("./images/bg-pattern-mobile.svg");
  background-repeat: no-repeat; 
  background-position: top center; 
}

.mobile-img{
  position: absolute;
  top: -110px;
  left: 50%;
  transform: translate(-55%, 0%);
}

.desktop-img{
  display: none;
}


.box {
  display: none;
}

.content-title {
  text-align: center;
  font-size: 3rem;
}

.question_answer {
  width: 90%;
  margin: 1em auto 3em auto;
  padding-bottom: 5em;
}

.question_wrapper {
  font-size: 1.2rem;
  padding: 1em 0;
  border-bottom: 1px solid var(--Light-grayish-blue);
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question p {
  margin-right: 0.5em;
  margin-bottom: 1em;
  cursor: pointer;
}

.question p:hover {
  color: var(--Soft-red);
}

.question img {
  align-self: center;
  margin-bottom: 1em;
}

.hide{
  display: none;
}

.highlight {
  color: #000;
  font-weight: bold;
}

.up {
  transform: scaleY(-1);
}

@media screen and (min-width: 780px){
    .wrapper {
      display: flex;
      position: relative;
      /* overflow: hidden; */
      width: 700px;
      min-height: 300px;
    }

    .content-title {
      text-align: left;
      padding-left: 0.5em;
    }

    .wrapper__img {
      position: relative;
      min-width: 300px;
      height: auto;
      background-position: 107% 75%;
      background-image: url("./images/bg-pattern-desktop.svg");
      overflow: hidden;
    }

    .mobile-img{
      display: none;
    }
    
    .desktop-img{
      position: absolute;
      display: block;
      top: 50%;
      left: -10%;
      transform: translate(-6%, -50%);
    }

    .box {
      display: block;
      position: absolute;
      top: 50%;
      left: -10%;
      transform: translate(-16%, -34%);
      z-index: 1000;
    }
    
    .wrapper_content {
      padding: 2em 2em 2em 0;
      width: 100%;
    }

    .question_answer {
      padding-bottom: unset;
    }
}

@media screen and (min-width: 1024px){

  .wrapper {
    width: 900px;
  }

  .wrapper__img {
    position: relative;
    min-width: 400px;
    background-position: 112% 61%;
    background-image: url("./images/bg-pattern-desktop.svg");
  }

  .box {
    display: block;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translate(-0%, -30%);
    z-index: 1000;
  }

}